<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SecurityKey</key>
	<string>47235180-b369-11e5-a65e-029db85e733b</string>
	<key>DevId</key>
	<string>1000649</string>
</dict>
</plist>
